apipkg==1.4
asn1crypto==0.24.0
-e git+git@github.com:justinvanwinkle/astr_report_tool.git@c33ca0480361be2ac39332e4686a5923a5c2324f#egg=astro_tools_web
astropy==3.0.3
astroquery==0.3.8
atomicwrites==1.1.5
attrs==18.1.0
backcall==0.1.0
beautifulsoup4==4.6.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
cycler==0.10.0
decorator==4.3.0
entrypoints==0.2.3
execnet==1.5.0
html5lib==1.0.1
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
jeepney==0.3.1
Jinja2==2.10
keyring==12.2.1
kiwisolver==1.0.1
MarkupSafe==1.0
matplotlib==2.2.2
more-itertools==4.2.0
numpy==1.14.4
parso==0.2.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.4
pkg-resources==0.0.0
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
pycparser==2.18
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.6.1
pytest-cache==1.0
pytest-pep8==1.0.6
python-dateutil==2.7.3
pytz==2018.4
requests==2.18.4
scipy==1.1.0
SecretStorage==3.0.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
