asn1crypto==0.24.0
-e git+git@github.com:justinvanwinkle/astr_report_tool.git@b68121611494d2432a261a42fe515c00c6f99252#egg=astro_tools_web
astropy==3.0.4
astroquery==0.3.8
attrs==18.1.0
backcall==0.1.0
beautifulsoup4==4.6.3
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
cycler==0.10.0
decorator==4.3.0
entrypoints==0.2.3
flake8==3.5.0
html5-parser==0.4.5
html5lib==1.0.1
idna==2.7
ipdb==0.11
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.12.0
jeepney==0.3.1
Jinja2==2.10
keyring==13.2.1
kiwisolver==1.0.1
lxml==4.6.5
MarkupSafe==1.0
matplotlib==2.2.2
mccabe==0.6.1
mod-wsgi==4.6.4
mod-wsgi-httpd==2.4.27.1
more-itertools==4.1.0
numpy==1.15.1
parso==0.2.0
pexpect==4.5.0
pickleshare==0.7.4
pkg-resources==0.0.0
pluggy==0.6.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
py==1.5.3
pycodestyle==2.3.1
pycparser==2.18
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.5.1
pytest-flake8==1.0.1
python-dateutil==2.7.3
pytz==2018.4
requests==2.19.1
scipy==1.1.0
SecretStorage==3.0.1
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
urllib3==1.23
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
