<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet"
          href="/contrib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="/contrib/datatables/datatables.min.css">
    <link rel="stylesheet"
          href="/contrib/datatables/select.bootstrap.min.css">
    <link rel="stylesheet"
          href="/contrib/datatables/datatables.bootstrap4.min.css">
    <link rel="stylesheet"
          href="/css/dashboard.css">
  </head>

  <body>

    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0"
         target="_blank"
         href="https://pds-smallbodies.astro.umd.edu/">UMD Small Bodies Group</a>
      <div>
        ## block nav_title
        ## for product in _product_list:
        ## if product.name == product_name
        <h3>{{product.title}}</h3>
        ## endif
        ## endfor
        ## endblock
      </div>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              ## for product in _product_list:

              <li class="nav-item">

                <a class="nav-link {% if product_name == product.name %}active{% endif %}"
                   href="{{product.url}}">
                  <span data-feather="{{product.icon}}"></span>
                  {{product.title}}
                </a>
              </li>
              ## endfor
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          {% block content %}
          {% endblock content %}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
         ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/contrib/jquery/jquery-3.3.1.js"> </script>
    <script src="/contrib/popper/popper.min.js"> </script>
    <script src="/contrib/bootstrap/js/bootstrap.min.js"> </script>
    <script src="/contrib/datatables/datatables.min.js"> </script>
    <script src="/contrib/datatables/datatables.select.min.js"> </script>
    <script src="/contrib/datatables/datatables.bootstrap4.min.js"> </script>
    <!-- Icons -->
    <script src="/contrib/feather/feather.js"></script>
    <script>
      feather.replace()
    </script>

    {% block endbody %}
    {% endblock %}

  </body>

</html>
