{% extends "html/base.html" %}

## block nav_title
<h3>NEO Lookup</h3>
## endblock

## block content
<table id="neocp_list" class="table table-bordered table-sm table-striped">
  <thead>
    <tr>
      ## for field_name in NEOCPEntry.table_fields():
      <th scope="col">{{field_name}}</th>
      ## endfor
    </tr>
  </thead>
  <tbody>
    ## for neo in neos:
    <tr>
      ## for field_name in neo.table_fields():
      <td>{{neo[field_name]}}</td>
      ## endfor
    </tr>
    ## endfor
  </tbody>
</table>
## endblock

## block endbody
<script src="/js/neocp.js"> </script>
## endblock
