{% extends "html/base.html" %}
{% from "html/macro/table.html" import encodable_table %}

## block content
<div class="row"></div>
<div class="row">
  <div class="col-5">
    <img src="http://dreamatico.com/data_images/stars/stars-2.jpg"
         height="400"
         width="400"/>
  </div>
  <div class="col">
    <form>
      <h5> NEO </h5>
      <fieldset disabled>
        <table class="table table-bordered">
          <tr>
            <td> Temporary Designation</td>
            <td><input/></td>
          </tr>
          <tr>
            <td> Something </td>
            <td><input/></td>
          </tr>
          <tr>
            <td> Something </td>
            <td><input/></td>
          </tr>
          <tr>
            <td> Something </td>
            <td><input/></td>
          </tr>
        </table>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <h5> Observatory </h5>
        <table class="table table-bordered">
          <tr>
            <td> Code </td>
            <td><input/></td>
          </tr>
          <tr>
            <td> Latitude </td>
            <td><input id="observatory_latitude"
                       name="latitude"/></td>
          </tr>
          <tr>
            <td> Longitude </td>
            <td><input id="observatory_longitude"
                       name="longitude"/>
              <a id="map_link" href="#"> map </a>
            </td>

          </tr>
          <tr>
            <td> Location Accuracy </td>
            <td><input id="observatory_location_accuracy"
                       name="accuracy"/>
              meters
            </td>
          </tr>
          <tr>
            <td> Elevation </td>
            <td><input/></td>
          </tr>
        </table>
      </fieldset>
    </form>
  </div>
</div>

<h3> NEO List </h3>
{{encodable_table(NEOCPEntry, neos, "neocp_list")}}

<h3> Observatory List </h3>
{{encodable_table(Observatory, observatories, "observatory_list")}}
## endblock

## block endbody
<script src="/js/neocp.js"> </script>
## endblock
