{% extends "html/base.html" %}
{% from "html/macro/table.html" import encodable_table %}

## block content
<div class="row"></div>
<div class="row">
  <div class="col-12">
    <img src="/neo_object_track?obj=X56109&latitude=38.996&longitude=-76.877"
         class="img-fluid"/>
  </div>
</dov>
<div class="row">
  <div class="col">
    <form>
      <fieldset>
        <table class="table table-bordered">
          <tr>
            <td> Temporary Designation</td>
            <td>
              <input id="neo_name" list="neo_names_list" name="neo_name">
              <datalist id="neo_names_list">
                ## for neo in neos:
                <option value="{{neo.temporary_designation}}" />
                ## endfor
              </datalist>
            </td>
          </tr>
        </table>
      </fieldset>
    </form>
    <form>
      <fieldset>
        <h5> Observatory </h5>
        <table class="table table-bordered">
          <tr>
            <td> Code </td>
            <td><input/></td>
          </tr>
          <tr>
            <td> Latitude </td>
            <td><input id="observatory_latitude"
                       name="latitude"/></td>
          </tr>
          <tr>
            <td> Longitude </td>
            <td><input id="observatory_longitude"
                       name="longitude"/>
              <a id="map_link" href="#"> map </a>
            </td>

          </tr>
          <tr>
            <td> Location Accuracy </td>
            <td><input id="observatory_location_accuracy"
                       name="accuracy"/>
              meters
            </td>
          </tr>
          <tr>
            <td> Elevation </td>
            <td><input/></td>
          </tr>
        </table>
      </fieldset>
    </form>
  </div>
</div>

<div class="row">
  <div class="col">
    <h3> NEO List </h3>
    {{encodable_table(NEOCPEntry, neos, "neocp_list")}}
  </div>
</div>
<div class="row">
  <div class="col">
    <h3> Observatory List </h3>
    {{encodable_table(Observatory, observatories, "observatory_list")}}
  </div>
</div>

## endblock

## block endbody
<script src="/js/neocp.js"> </script>
## endblock
